<!DOCTYPE html>
<html lang="fr">
{% include head.html %}
<style type="text/css">
    body {
        color: white;
        background-color: #000;
        text-align: center;
    }
    .mySuperImage {
        height: 5%;
    }
</style>
<body>
    <div class="page-content">
        <section id="main-container" class="container px-4">
            <div class="row justify-content-center pt-3">
                {{ content }}
            </div>
        </section>
    </div>
    {% include footer.html %}
    <img src="images/grasserie.png" class="mySuperImage"/>
</body>
</html>