<!DOCTYPE html>
<html lang="fr">
{% include head.html %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Grasserie</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <img src="images/grasserie.png" class="card-img-top" alt="photo bière artisanale">
                    <div class="card-body">
                      <h5 class="card-title">La triplette</h5>
                      <p class="card-text">Une bière triple se basant sur la recette d'une Duvel.</p>
                      <a href="#" class="btn btn-primary">Voir la recette</a>
                    </div>
                  </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="images/grasserie.png" class="img-fluid"/>
            </div>
            <div class="col-xs-12 col-md-4">
                Vignette 3
            </div>
        </div>

    </div>
    {% include footer.html %}
</body>

</html>